/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 3px;
  margin-left:10px ;
}

/* Navigation */
.nav-wrapper {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav a.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 30px;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.form {
  padding-top: 130px;
  padding-bottom: 130px;
}

.form-box {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  height: 100%;
}

.form-box h1,
.form-box h2 {
  text-align: center;
  color: tomato;
}

.input-group {
  margin-bottom: 20px;
  margin: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.SignUp-link button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SignUp-link button:hover {
  background-color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
